@charset "utf-8";
/* CSS Document */

.homepage-css{
	position: absolute; /* Or use 'fixed' if you want it to stay even when scrolling */
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center it horizontally and vertically */
    width: 1000px; /* Set the width of the square */
    height: 900px; /* Set the height of the square */
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
	padding: 10px;
    border-radius: 10px; /* Optional: rounded corners */
    z-index: 100; /* Make sure it appears above other content */
}
h1{
  align-content: center;
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-size: 500%;
  font-style: normal;
}
button {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-size: 500%;
  font-style: normal;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  margin-top: 5000px;
}


